/* Photo credit: Aditya Vyas on Unsplash */

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/hogsmeade.jpg') bottom center no-repeat;
    background-size: cover;
    font-size: 1em;
    font-family: 'Crimson Text', serif;
    font-style: bold;
}

.centered {
    padding: 0 3.125em;
    background: #f16059;
}

h1 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 786px) {
    h1 {
        font-size: 2.5em;
    }
}